@mixin flex($flujo, $contenido, $alineacion){
    display: flex;
    flex-flow: $flujo;
    justify-content: $contenido;
    align-items: $alineacion;
}

@mixin medidas($width, $height){
    height: $height;
    width: $width;
}