footer {
    display: flex;
    justify-content: center;
}
.pie{
    background-color: $gris-claro;
    border: 2px solid $borde-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include flex(row wrap,space-around,center);
    width: 50%; 
    transition: all 0.5s;
    &:hover{
        transform:  scale(1.1,1);
    }
}